:root {
    --primary-text-color: #000000;
    --secondary-text-color: #9b9b9b;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}

/* GENERAL */

.body {
font-family: 'Times New Roman', Times, serif;
color: var(--primary-text-color);
font-size: 14px;
}

.hide {
    display: none;
}

.button {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 16px;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
}


.section-title {
    font-size: 36px;
    font-weight: bold;
}



.list {
    list-style: none;
}

/* HEADER */

.site-nav {
    color: var(--primary-text-color );
}

.site-nav .link:hover,
.site-nav .link:focus,
/* QUESTION four not working active */
.site-nav .link:active {
    color: var(--accent-color);
}



/* HERO*/

.hero-title {
    color: var(--accent-color);
    font-size: 44px;
    font-weight: bold;
}

.hero .link {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.hero .link:hover,
.hero .link:focus {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
}

/* features */

.features .title {
    font-size: 14px;
    font-weight: bold;
}


/* our team */

.team {
    font-size: 16px;
}

/* QUESTION one medium weight */
.team .title {
   font-weight: bold;
}

/* footer */
.footer-nav {
    color: var(--secondary-text-color);
}

.footer-nav .link:focus {
    color: var(--secondary-text-color);
}

.footer-nav .link-map {
    color: var(--primary-white-color);
}

.footer-nav .link-map:focus {
    color: var(--primary-white-color);
}