:root {
    --primary-text-color: #000000;
    --secondary-text-color: #9b9b9b;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}

/* GENERAL */

.body {
font-family: 'roboto', sans-serif;
color: var(--primary-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.hide {
    display: none;
}

.logo {
    font-family: 'raleway', sans sans-serif;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo .accent {
    color: var(--accent-color);
}

.button {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.button:hover,
.button:focus {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
}


.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}



.list {
    list-style: none;
}

/* HEADER */

.site-nav {
    color: var(--primary-text-color );
    text-decoration: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
/* QUESTION four not working active */
.site-nav .link:active {
    color: var(--accent-color);
}



/* HERO*/

.hero-title {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .link {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}

.hero .link:hover,
.hero .link:focus {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
}

/* features */

.features .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


/* our team */

.team {
    font-size: 16px;
    line-height: 1.18;
}

.team .title {
    font-weight: 500;
}

/* footer */
.footer-nav {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-nav .link:focus {
    color: rgba(255, 255, 255, 0.6);
}

.footer-nav .link-map {
    color: var(--primary-white-color);
}

.footer-nav .link-map:focus {
    color: var(--primary-white-color);
}